$border-style: 8px solid black;
$transition-delay: 0.5s;
$los-color: rgb(136, 66, 66);

$colors-name: red, yellow, green, blue;

// Map
$colors: (
    red: rgb(182, 58, 20),
    yellow: rgb(245, 201, 8),
    green: rgb(151, 231, 97),
    blue: rgb(11, 156, 223)
);