.gradient{
    width: 33.33%;
    height: 100vh;

    display: inline-block;

    // background-image: url("../img/losange.png");
    background-size: 100%, 110px 200px, 110px 200px;
    transition: background-position $transition-delay;

    &.linear{
        background-image: 
        linear-gradient(0deg, rgba(235, 156, 156, 0.548) 0%, rgba(16, 13, 92, 0.781) 100%),
        linear-gradient(60deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%),
        linear-gradient(120deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%);

        
        &:active{
            background-image: 
            linear-gradient(0deg, rgba(235, 156, 156, 0.548) 50%, rgba(16, 13, 92, 0.781) 50%),
            linear-gradient(60deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%),
            linear-gradient(120deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%);
        }
    }

    &.radial{
        background-image: 
        radial-gradient(circle at 50% 25%, rgba(235, 156, 156, 0.548) 0%, rgba(16, 13, 92, 0.781) 20%, transparent 25%), 
        linear-gradient(60deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%),
        linear-gradient(120deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%);
        background-position: 0 0, 0 0;
        
        &:active{
            background-position: 0 380px, 0 0, 0 0;
        }
    }
    
    &.light-torch{
        background-image: 
        radial-gradient(circle at 50% 50%, rgba(255, 246, 169, 0.548) 20%, rgb(0, 0, 0) 40%), 
        linear-gradient(0deg, rgba(235, 156, 156, 0.548) 0%, rgba(16, 13, 92, 0.781) 100%), 
        linear-gradient(60deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%),
        linear-gradient(120deg, $los-color 25%, transparent 25%, transparent 75%, $los-color 75%);

        // background-size: 100% 100%, 100% 100%, 25% 25%;
        background-size: 100%, 100%, 110px 200px, 110px 200px;

        &:active{
            background-position: 33vw 100vh, 0 0, 0 0, 0 0;
        }
    }
}